/*******************************************
*
*Author: Rishi ; Date: 21/1/2022
*
********************************************/

body{
    background-color: rgb(40, 42, 54);
}

.contact-method-phone{
    color: rgb(91, 248, 248);
}

.contact-method-email{
    color: rgb(91, 248, 248);
}

.contact-method-ig{
    color: rgb(91, 248, 248);
}

p{
    color: aliceblue;
    text-decoration: underline;
}

h2{
    color: violet;
    text-decoration: underline;
}

h3{
    color: rgb(219, 235, 248);
    text-decoration: underline;
}