body{
    background-color: rgb(21, 60, 83);
    text-transform: inherit;
    text-decoration: double;
    text-decoration-color: lemonchiffon;
}

p{
    text-transform: capitalize;
    color: rgb(154, 255, 225);
    text-align: end;
    
}